.container {
    display: grid;
    grid-template-columns: 50% auto;
}
.col {
    padding: .4em 1.3em;
}
.color-dark {
    background: rgb(90, 93, 95);
}
.color-light {
    background: rgb(178, 179, 180);
}

input.txt {
    border: 0;
    padding: 1em;
    width: 80%;
    margin-bottom: 2em;
}
input.btn {
    border: 0;
    display:block;
    padding:1em 3em;
    background:#A5F883;
    color:rgb(35, 48, 56);
    margin-bottom:1em;
    cursor:pointer;
}
.life-container {
    background:rgb(43, 59, 65);
    padding:.5em;
    font-weight:bold;
    cursor:pointer;
}